@tailwind base;
@tailwind components;
@tailwind utilities;

#loginPage {
    background-image: url('../../public/login_background.png');
    background-size: cover;
    background-position: center;

}
#hangryMeter {
    
}

#appForm {
    left: 60%;
    top: 35%;
}

#happyPeko {
    position: absolute;
    top:40%;
    height: 50%;
    width: 25%;
}

#happyPekoLongEarsLookingUp{
    position: absolute;
    top: 75%;
    left: 5%;
    height: 45%;
    width: 23%;
    z-index: 10;
}

#peckishPeko3EyesLookingUp {
    position: absolute;
    top: 75%;
    left: 25%;
    height: 50%;
    width: 33%;
}

#hungryPeko1EyeLookingUp {
    position: absolute;
    top: 75%;
    left: 54%;
    height: 50%;
    width: 25%; 
}

#hangryDinoLookingUp {
    position: absolute;
    top: 75%;
    left: 72%;
    height: 50%;
    width: 30%;

}



